/* Generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #000; /* Sfondo nero */
  color: white;
}

/* Contenitore principale */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

/* Intestazione */
.header {
  height: 20%; /* Occupa il 20% dello schermo */
  width: 100%; /* Larghezza piena */
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 3; /* Sopra al video */
}

/* Stile del testo nell'intestazione */
.header h1 {
  font-size: 36px;
  text-align: center;
  animation: colorChange 5s infinite;
}

/* Video */
.video-container {
  height: 80%; /* Il video occupa l'80% dello schermo */
  width: 100%; /* Larghezza piena */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adatta il video senza distorsioni */
  opacity: 0; /* Inizialmente oscurato */
  transition: opacity 0.5s ease; /* Animazione di dissolvenza */
  z-index: 1;
}

/* Overlay cliccabile */
.play-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2; /* Sopra al video */
  cursor: pointer;
  background-color: transparent; /* Invisibile ma cliccabile */
}

/* Scritta per avviare il video */
.start-text {
  position: absolute;
  color: white;
  font-size: 24px;
  z-index: 3; /* Sopra al video */
  text-align: center;
  cursor: pointer;
  display: block; /* Visibile quando il video è fermo */
  animation: colorChange 5s infinite;
}

@keyframes backgroundChange {
  0% {
    background-color: #c61999;
  }
  12.5% {
    background-color: #c826ad;
  }
  25% {
    background-color: #ca33c0;
  }
  37.5% {
    background-color: #cc40d4;
  }
  50% {
    background-color: #ce4de7;
  }
  62.5% {
    background-color: #cc40d4;
  }
  75% {
    background-color: #ca33c0;
  }
  87.5% {
    background-color: #c826ad;
  }
  100% {
    background-color: #c61999;
  }
}

/* Applicazione dell'animazione */
body {
  animation: backgroundChange 3s infinite; /* 3s per completare il ciclo e infinito */
}

@keyframes colorChange {
  0% {
    color: #6c00ff;
  }
  12.5% {
    color: #8831ff;
  }
  25% {
    color: #9e56ff;
  }
  37.5% {
    color: #ae73ff;
  }
  50% {
    color: #bd8cff;
  }
  62.5% {
    color: #ae73ff;
  }
  75% {
    color: #9e56ff;
  }
  87.5% {
    color: #8831ff;
  }
  100% {
    color: #6c00ff;
  }
}
