/* Generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #000; /* Sfondo nero */
  color: white;
}

/* Contenitore principale */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

/* Intestazione */
.header {
  height: 20%; /* Occupa il 20% dello schermo */
  width: 100%; /* Larghezza piena */
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 3; /* Sopra al video */
}

/* Stile del testo nell'intestazione */
.header h1 {
  font-size: 36px;
  text-align: center;
  animation: colorChange 5s infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Video */
.video-container {
  height: 80%; /* Il video occupa l'80% dello schermo */
  width: 100%; /* Larghezza piena */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adatta il video senza distorsioni */
  opacity: 0; /* Inizialmente oscurato */
  transition: opacity 0.5s ease; /* Animazione di dissolvenza */
  z-index: 1;
}

/* Overlay cliccabile */
.play-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2; /* Sopra al video */
  cursor: pointer;
  background-color: transparent; /* Invisibile ma cliccabile */
}

/* Scritta per avviare il video */
.start-text {
  position: absolute;
  color: white;
  font-size: 24px;
  z-index: 3; /* Sopra al video */
  text-align: center;
  cursor: pointer;
  display: block; /* Visibile quando il video è fermo */
  animation: colorChange 5s infinite;
}

@keyframes backgroundChange {
  0% {
    background-color: #c61999;
  }
  12.5% {
    background-color: #c826ad;
  }
  25% {
    background-color: #ca33c0;
  }
  37.5% {
    background-color: #cc40d4;
  }
  50% {
    background-color: #ce4de7;
  }
  62.5% {
    background-color: #cc40d4;
  }
  75% {
    background-color: #ca33c0;
  }
  87.5% {
    background-color: #c826ad;
  }
  100% {
    background-color: #c61999;
  }
}

/* Applicazione dell'animazione */
body {
  animation: backgroundChange 3s infinite; /* 3s per completare il ciclo e infinito */
}

@keyframes colorChange {
  0% {
    color: #6c00ff;
  }
  12.5% {
    color: #8831ff;
  }
  25% {
    color: #9e56ff;
  }
  37.5% {
    color: #ae73ff;
  }
  50% {
    color: #bd8cff;
  }
  62.5% {
    color: #ae73ff;
  }
  75% {
    color: #9e56ff;
  }
  87.5% {
    color: #8831ff;
  }
  100% {
    color: #6c00ff;
  }
}

/* Contenitore del pulsante */
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  animation: backgroundChange 3s infinite;
}

/* Stile del pulsante */
#special-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #6c00ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  a {
    text-decoration: none;
  }
}

#special-button:hover {
  background-color: #8831ff;
}

/* Sorpresa Css */

/* Pulsante audio */
.audio-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.audio-button:hover {
  background-color: rgba(50, 50, 50, 0.8);
}

#sorpresa {
  /* Video a schermo intero */

  .video {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Adatta il video senza distorsioni */
    opacity: 1; /* Inizialmente visibile */
    transition: opacity 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Impedisce che il video si sovrapponga al pulsante */
  }

  /* Scritta nascosta di default */
  .hidden {
    display: none;
  }
  /* Stile della scritta */
  #message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em !important; /* Dimensione grande del testo */

    text-align: center;
    z-index: 2; /* Sopra lo sfondo */
    animation: fadeIn 1.5s ease-in; /* Effetto di apparizione graduale */
    animation: colorChange 5s infinite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Contenitore delle foto */
  .photo-container {
    animation: backgroundChange 3s infinite;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); /* 1-4 colonne a seconda della larghezza */
    gap: 10px; /* Distanza tra le immagini */
    padding: 10px;
    margin-top: 30%;
  }

  /* Immagini */
  .photo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assicura che l'immagine si adatti senza deformarsi */
    border-radius: 8px;
    transition: transform 0.3s ease;
  }

  .photo:hover {
    transform: scale(
      1.1
    ); /* Aggiunge un effetto di zoom quando si passa sopra l'immagine */
  }

  /* Stile per la finestra modale */
  #image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  #image-modal img {
    max-width: 90%;
    max-height: 70%;
    border: 5px solid white;
    border-radius: 10px;
  }

  #image-modal p {
    color: white;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
  }

  #image-modal .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  #image-modal.visible {
    opacity: 1;
    pointer-events: auto;
  }
}
